<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVSim Simulator</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center mb-4">UVSim Program Loader</h1>

    <h3>Memory State:</h3>
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Memory Location</th>
                <th scope="col">Instruction</th>
            </tr>
            </thead>
            <tbody>
            {% for i, instruction in enumerate(memory) %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ instruction }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if message %}
    <div class="alert alert-info">{{ message }}</div>
    {% endif %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% if input_required %}
    <form method="post">
        <div class="form-group">
            <label>Enter value for memory location {{ operand }} ({{ input_prompt }} input):</label>
            <input type="text" class="form-control" name="user_input" required>
            <button type="submit" class="btn btn-secondary btn-block">Submit</button>
        </div>
    </form>
    {% else %}
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Upload BasicML Programs:</label>
            <input type="file" class="form-control-file" id="file" name="file" multiple>
            <button type="submit" class="btn btn-primary btn-block">Load and Run</button>
        </div>
    </form>
    {% endif %}
</div>

<!-- Bootstrap and jQuery scripts for responsive behavior and additional features -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
